/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30.03.2014, 14:09:20
    Author     : seyma
*/

#slideshow{
    height: 300px;
    width: 500px;
}

body {
    font: normal 100.01%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
}

#head{
    height: 250px; 
    padding: 20px;
    background-image:url('');
    background-repeat: no-repeat;
    padding-left:35%;
    background-size:80% 100%;
    background-position:50% 50%;
}

form { 
    background-image:url(background.gif); 
    padding:20px; 
    margin-left: 900px; 
}

td, input { 
    font-size:13px; 
    font-family:Verdana,sans-serif; 
    font-weight:bold; 
}

input, select { 
    color:#696969; 
}

#tabelleLogin{
    background-color:#F8F8ff; 
    width:380px; 
    height:90px;
    border:5px solid #ddd; 
    margin-top: 60px;
    margin-left:-875px;
}

#anmelden { 
    // background-color:#DCDCDC; 
    color:#585858; 
    width:120px; 
   border:1px solid #6E6E6E; 
 
}

#kopfbereich {
    height: 100px;
    padding: 20px;
    background-image: linear-gradient(white 0%, #8FBFD2 110%);

    //background: rgba(120,160,180,0.3);
    width:1293px;
}

#Tabelle1{
    margin-top:  30px; 
    margin-left:200px; 
    width: 450px;
}

#tabelleRegistrieren{
    margin-top:  -20px; 
    // width:1500px;
    //height:300px;
}

#seite{ 
    width: 100%;
}

#hsLogo{
    margin-left:1050px; 
    margin-top:0px;
    height: 90px;
    width: 230px;
}

#projekte{
    margin-left:-1150px; 
    margin-top: 50px;
    height: 120px;
    width: 250px;
}

#projekt{
    margin-top: 150px;
}

#prostud{
    margin-left:-20px; 
    margin-top: -130px;
    height: 130px;
    width: 190px;
}

#fussbereich {
    clear: both;
    padding: 20px;
    background-color: black;
    color:#ffffff;
    text-align:center;
    margin-left:-5px; 
    //width:1042px;
    width:1297px;
    height: 100px; 
    font-family: 'Open Sans', sans-serif;
           letter-spacing:0.0em;
           line-height:1.4em;
           font-size:1.0em;
}
#impressum {
    text-decoration:none;
}
.bl
{
padding: 10px;
border-left: 2px solid #f00;
}

#inhalt {
    background-color:#F8F8ff;
    margin-left:-5px;
    padding: 20px;
    margin-top: 0px;
    height: 740;
    width:770px;
}

#InhaltArt{
    color:#5c62d6;
    font-family: 'Open Sans', sans-serif; 
    letter-spacing:0.0em;
    line-height:1.4em;
    font-size:1.0em;
    text-align: right;
    margin: 0.6cm;
   
    
}

#info {
    float: left;
    width:505px; 
    height: 770px;
    padding: 5px;
    background-color: #F8F8ff;
    //border-left: 2px solid black;
    margin-top: -780px;
    // margin-left:800px;
    margin-left:817px;
}

ul#Navigation {
    margin: 0; padding: 0.8em;
    text-align: center;
    // border: 1px solid ;
    background-color: #d3d3d3;
}

ul#Navigation li {
    list-style: none;
    display: inline;
    margin: 0.4em; padding: 0;
}

ul#Navigation a, ul#Navigation span {
    padding: 0.2em 1em;
    text-decoration: none; font-weight: bold;
    border: 1px solid black;
    border-left-color: white; border-top-color: white;
    color: #000000; background-color: white;
}
* html ul#Navigation a, * html ul#Navigation span {
    width: 1em;    /* nur fuer IE 5.0x erforderlich */
    width: auto;  /* sicherheitshalber fuer IE 6 zurueckgesetzt */
}

ul#Navigation a:hover, ul#Navigation span {
    border-color: white;
    border-left-color: black; border-top-color: black;
    color: white; background-color: gray;
}

#text{    margin-top:0px; 
          height: 550px;}

#text1{   margin-top:-200px; 
          height: 550px;background-color: #FF0000;}

#tabellesuchen{margin-left: 0px; margin-top: -200px;width: 300px;}

#senden{margin-left: -900px; margin-top: 30px;}

#skill{margin-left: -900px;}

.start{margin-top: 200px;text-align: center;}

#formular{
    background-color:#F8F8ff; 
    width:380px; 
    margin-top: -20px;
    margin-left:150px;
   

}
 #startanmelden{ border-radius: 4px;
    height: 30px;
     font-weight:100;
 width: 200px;}

#vorname,#nachname,#benutzername, #kennwort, #kennwortwdhl, #strasse, #hausnr, #plz, #ort, #email, #combo {
    border-radius: 4px;
    height: 30px;
    font-weight:100;
}

#nachname{
    margin-left: 17px; 
}

#vorname, #nachname{
    width: 200px;
}
#benutzername, #kennwort, #kennwortwdhl, #strasse, #hausnr, #plz, #ort, #email{
    width: 420px; 
}

#daten{
    margin-top: -70px;


}


#registrierung{
    background-color:white; 
    color:#fff; 
    width:200px; 
    border:2px solid #ddd; 
    margin-left: -200px;
   // margin-top: 0px;

}

#foto{
    margin-left:230px; 
    margin-top: -100px;
    height: 320px;
    width: 250px;

}


#header{
    margin-left:-20px; 
    margin-top: -25px;
    //height: 520px;
    //width: 250px;
}

#tabelleLogin{
    margin-top: -10px;     
}

#passmsg {
    font-size: 8pt;
    color: #FF0000;
    font-weight: 100;
}



#projektbeschreibung{
    height: 200px;
    weight: 200px;
    font-family: 'Open Sans', sans-serif; 
    letter-spacing:0.0em;
    line-height:1.4em;
    font-size:1.0em;
}
#projektanlegen{margin-left: -800px;
  font-family: 'Open Sans', sans-serif; 
    letter-spacing:0.0em;
    line-height:1.4em;
    font-size:1.0em;
   }

#verknuepfung{margin-left: -700px;

}

#und{margin-left: -700px;
margin-top: -136px;
}

#teilnehmen{margin-left: -870px;}




/* 
   ab hier style für die navigation
*/

#cssmenu {
    background: #5c62d6;
    width: auto;
}
#cssmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: block;
    zoom: 1;
}
#cssmenu ul:after {
    content: ' ';
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}
#cssmenu ul li {
    float: left;
    display: block;
    padding: 0;
}
#cssmenu ul li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 15px 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -ms-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}
#cssmenu ul li a:hover {
    color: #333333;
}
#cssmenu ul li a:hover:before {
    width: 100%;
}
#cssmenu ul li a:after {
    content: '';
    display: block;
    position: absolute;
    right: -3px;
    top: 19px;
    height: 6px;
    width: 6px;
    background: #ffffff;
    opacity: .5;
}
#cssmenu ul li a:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #333333;
    -webkit-transition: width .25s;
    -moz-transition: width .25s;
    -ms-transition: width .25s;
    -o-transition: width .25s;
    transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
    display: none;
}


@media screen and (max-width: 768px) {
    #cssmenu ul li {
        float: none;
    }
    #cssmenu ul li a {
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    #cssmenu ul li a:after {
        display: none;
    }
    #cssmenu ul li a:before {
        height: 1px;
        background: #ffffff;
        width: 100%;
        opacity: .2;
    }
    #cssmenu ul li.last > a:before,
    #cssmenu ul li:last-child > a:before {
        display: none;
    }
}


.studh2{font-family: 'Open Sans', sans-serif; text-align: center;
 margin-top: 70px;
}

#willkommen{font-family: 'Open Sans', sans-serif; text-align: center; font-size: 25px;
 margin-top: 70px;
}

#textcheck{text-align: center;}

.regtext1{font-family: 'Open Sans', sans-serif; text-align: center;
 margin-top: 30px;
}

.textstud{font-family: 'Open Sans', sans-serif; 
          letter-spacing:0.0em;
          line-height:1.5em;
          font-size:1.0em;
          text-align: center;
          
          margin-top: 10px;

}  

.zuruckStart{font-family: 'Open Sans', sans-serif; 
          letter-spacing:0.0em;
          line-height:1.5em;
          font-size:1.0em;
      margin-left: 70px;
          margin-top: 10px;

}  


.anmelden{ margin-left:50px; margin-top: 90px;  color:#576D72;font-family: 'Open Sans', sans-serif;}
.reg{ margin-left:50px; margin-top: 40px;  color:#576D72;font-family:'Open Sans', sans-serif;}



.textstart{font-family: 'Open Sans', sans-serif;text-align: center;
           letter-spacing:0.0em;
           line-height:1.4em;
           font-size:1.0em;
           
           
       


}

#zuruckButton{
    margin-left: 280px;
}

#projekthinzufuegen{margin-left: -900px;}
#projektteilnehmenbetreff {
    border-radius: 4px;
    height: 25px;
}
#projektteilnehmenbemerken {
    border-radius: 4px;

}


#registrierung {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5c62d6), color-stop(1, #4951bd));
    background:-moz-linear-gradient(top, #5c62d6 5%, #4951bd 100%);
    background:-webkit-linear-gradient(top, #5c62d6 5%, #4951bd 100%);
    background:-o-linear-gradient(top, #5c62d6 5%, #4951bd 100%);
    background:-ms-linear-gradient(top, #5c62d6 5%, #4951bd 100%);
    background:linear-gradient(to bottom, #5c62d6 5%, #4951bd 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c62d6', endColorstr='#4951bd',GradientType=0);
    background-color:#5c62d6;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #5c62d6;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:17px;
    padding:4px 8px;
    text-decoration:none;
    text-shadow:0px 1px 0px #5c62d6;
    font-weight:100;

}
#registrierung:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4951bd), color-stop(1, #5c62d6));
    background:-moz-linear-gradient(top, #4951bd 5%, #5c62d6 100%);
    background:-webkit-linear-gradient(top, #4951bd 5%, #5c62d6 100%);
    background:-o-linear-gradient(top, #4951bd 5%, #5c62d6 100%);
    background:-ms-linear-gradient(top, #4951bd 5%, #5c62d6 100%);
    background:linear-gradient(to bottom, #4951bd 5%, #5c62d6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4951bd', endColorstr='#5c62d6',GradientType=0);
    background-color:#4951bd;
}
#registrierung:active {
    position:relative;
    top:1px;

}

#anmelden2:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4951bd), color-stop(1, #5c62d6));
    background:-moz-linear-gradient(top, #4951bd 5%, #5c62d6 100%);
    background:-webkit-linear-gradient(top, #4951bd 5%, #5c62d6 100%);
    background:-o-linear-gradient(top, #4951bd 5%, #5c62d6 100%);
    background:-ms-linear-gradient(top, #4951bd 5%, #5c62d6 100%);
    background:linear-gradient(to bottom, #4951bd 5%, #5c62d6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4951bd', endColorstr='#5c62d6',GradientType=0);
    background-color:#4951bd;
}

#anmelden2:active {
    position:relative;
    top:1px;

}

#anmelden2 {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5c62d6), color-stop(1, #4951bd));
    background:-moz-linear-gradient(top, #5c62d6 5%, #4951bd 100%);
    background:-webkit-linear-gradient(top, #5c62d6 5%, #4951bd 100%);
    background:-o-linear-gradient(top, #5c62d6 5%, #4951bd 100%);
    background:-ms-linear-gradient(top, #5c62d6 5%, #4951bd 100%);
    background:linear-gradient(to bottom, #5c62d6 5%, #4951bd 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c62d6', endColorstr='#4951bd',GradientType=0);

    background-color:#5c62d6;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #5c62d6;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:17px;
    padding:3px 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px #5c62d6;
    font-weight:100;
   
    margin: 40px;
   margin-top: -73px;
   margin-left: 30px;
}


#registrierung1 {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5c62d6), color-stop(1, #4951bd));
    background:-moz-linear-gradient(top, #5c62d6 5%, #4951bd 100%);
    background:-webkit-linear-gradient(top, #5c62d6 5%, #4951bd 100%);
    background:-o-linear-gradient(top, #5c62d6 5%, #4951bd 100%);
    background:-ms-linear-gradient(top, #5c62d6 5%, #4951bd 100%);
    background:linear-gradient(to bottom, #5c62d6 5%, #4951bd 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c62d6', endColorstr='#4951bd',GradientType=0);

    background-color:#5c62d6;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #5c62d6;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:17px;
    padding:4px 8px;
    text-decoration:none;
    text-shadow:0px 1px 0px #5c62d6;
    font-weight:100;
    margin-top: -50px;
    margin: 40px;
    margin-left: 50px;
}
#registrierung1:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4951bd), color-stop(1, #5c62d6));
    background:-moz-linear-gradient(top, #4951bd 5%, #5c62d6 100%);   
    background:-webkit-linear-gradient(top, #4951bd 5%, #5c62d6 100%);
    background:-o-linear-gradient(top, #4951bd 5%, #5c62d6 100%);
    background:-ms-linear-gradient(top, #4951bd 5%, #5c62d6 100%);
    background:linear-gradient(to bottom, #4951bd 5%, #5c62d6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4951bd', endColorstr='#5c62d6',GradientType=0);
    background-color:#4951bd;

}
#registrierung1:active {
    position:relative;
    top:1px;
   
}

#profilDaten{
    font-family: 'Open Sans', sans-serif; 
    letter-spacing:0.0em;
    line-height:1.4em;
    font-size:1.0em;
    margin-top: 20px;

}


.h4{
    font-family: 'Open Sans', sans-serif; 
    letter-spacing:0.0em;
    line-height:1.4em;
    font-size:1.4em;
    margin-top: 20px;
   

}



#anmelden1 {
	background-color:#5365f2;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #4260c2;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:17px;
	padding:1px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2949cc;
}
#anmelden1:hover {
	background-color:#3d4fdb;
}
#anmelden1:active {
	position:relative;
	top:1px;
}


.abmelden1 {
	background-color:#5365f2;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #4260c2;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:17px;
	padding:1px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2949cc;
}
.abmelden1:hover {
	background-color:#3d4fdb;
}
.abmelden1:active {
	position:relative;
	top:1px;
}


#los:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4951bd), color-stop(1, #5c62d6));
    background:-moz-linear-gradient(top, #4951bd 5%, #5c62d6 100%);
    background:-webkit-linear-gradient(top, #4951bd 5%, #5c62d6 100%);
    background:-o-linear-gradient(top, #4951bd 5%, #5c62d6 100%);
    background:-ms-linear-gradient(top, #4951bd 5%, #5c62d6 100%);
    background:linear-gradient(to bottom, #4951bd 5%, #5c62d6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4951bd', endColorstr='#5c62d6',GradientType=0);
    background-color:#4951bd;
  
}

#los:active {
    position:relative;
    top:1px;
   

}

#los {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5c62d6), color-stop(1, #4951bd));
    background:-moz-linear-gradient(top, #5c62d6 5%, #4951bd 100%);
    background:-webkit-linear-gradient(top, #5c62d6 5%, #4951bd 100%);
    background:-o-linear-gradient(top, #5c62d6 5%, #4951bd 100%);
    background:-ms-linear-gradient(top, #5c62d6 5%, #4951bd 100%);
    background:linear-gradient(to bottom, #5c62d6 5%, #4951bd 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c62d6', endColorstr='#4951bd',GradientType=0);

    background-color:#5c62d6;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #5c62d6;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:17px;
    padding:3px 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px #5c62d6;
    font-weight:100;
   
    margin: 60px;
    margin-top: 20px;
    margin-left: 320px;
}

#profiltabelle,td{
    font-family: 'Open Sans', sans-serif; 
    letter-spacing:0.0em;
    line-height:1.4em;
    font-size:1.0em;
    margin-top: -90px;
    font-weight: 100;
    width: 50%;
    height: 20%;
    
}
#kalender {
    height: 100px;
    width: 100px;
    margin-top: 40px;
    margin-left: 155px;
}